coverage
node_modules
lib
.docz
docs-dist
.rpt2_cache
stats.html
.DS_Store
thumbs.db
*.log

examples/.cache
examples/node_modules
examples/dist
examples/package-lock.json

# Docusaurus
lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/
website/node_modules
website/i18n/*
