@import '../../../node_modules/@biotope/element/lib/host.mixin.scss';

@include host('example-separated') {
  display: block;

  p {
    color: orange;
  }

  li:not(:first-of-type) {
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid black;
    }

    &:active,
    &:focus {
      border: 1px solid black;
    }
  }
}
